{% if nginx_as_load_balancer -%}
upstream flask {
    ip_hash;
    {% for backend_ip in backends %}
    server {{ backend_ip }};
    {% endfor -%}
}
{% endif -%}

server {
    listen 80;
    server_name {{ inventory_hostname }};
    
    location / {
        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $remote_addr;
        {% if nginx_as_load_balancer -%}
        proxy_pass http://flask;
        {% else -%}
        proxy_pass http://localhost:8000;
        {% endif -%}
{% raw %}
    }
}
{% endraw %}