# {{ ansible_managed }}
Port {{ sshd_port }}
{% for address in sshd_listenaddresses %}
ListenAddress {{ address }}
{% endfor %}
Protocol {{ sshd_protocol }}
{% for hostkey in sshd_hostkeys %}
HostKey {{ hostkey }}
{% endfor %}
UsePrivilegeSeparation {{ sshd_useprivilegeseparation }}
KeyRegenerationInterval {{ sshd_keyregenerationinterval }}
ServerKeyBits {{ sshd_serverkeybits }}
SyslogFacility {{ sshd_syslogfacility }}
LogLevel {{ sshd_loglevel }}
LoginGraceTime {{ sshd_logingracetime }}
PermitRootLogin {{ sshd_permitrootlogin }}
StrictModes {{ sshd_strictmodes }}
IgnoreRhosts {{ sshd_ignorerhosts }}
RhostsRSAAuthentication {{ sshd_rhostsrsaauthentication }}
HostbasedAuthentication {{ sshd_hostbasedauthentication }}
PermitEmptyPasswords {{ sshd_permitemptypasswords }}
ChallengeResponseAuthentication {{ sshd_challengeresponseauthentication }}
PasswordAuthentication {{ sshd_passwordauthentication }}
X11Forwarding {{ sshd_x11forwarding }}
X11DisplayOffset {{ sshd_x11displayoffset }}
PrintMotd {{ sshd_printmotd }}
PrintLastLog {{ sshd_printlastlog }}
TCPKeepAlive {{ sshd_tcpkeepalive }}
AcceptEnv {{ sshd_acceptenv }}
Subsystem {{ sshd_subsystem }}
UsePAM {{ sshd_usepam }}
{% if sshd_permittunnel is defined %}
PermitTunnel {{ sshd_permittunnel }}
{% endif %}