define host {
        use                             linux-server
        host_name                       {{ item }}
        alias                           {{ item }}
        address                         {{ hostvars[item].ip }}
        max_check_attempts              5
        check_period                    24x7
        notification_interval           30
        notification_period             24x7
}

define service {
        use                             generic-service
        host_name                       {{ item }}
        service_description             PING
        check_command                   check_ping!100.0,20%!500.0,60%
}

define service {
        use                             generic-service
        host_name                       {{ item }}
        service_description             SSH
        check_command                   check_ssh
        notifications_enabled           0
}

define service {
        use                             generic-service
        host_name                       {{ item }}
        service_description             HTTP
        check_command                   check_http
        notifications_enabled           0
}

{% for check in nrpe_checks %}
define service {
        use                             generic-service
        host_name                       {{ item }}
        service_description             {{ check.name }}
        check_command                   check_nrpe!{{ check.command }}
        check_interval                  1
}
{% endfor %}